<div class="breadcrumb">
    <p-breadcrumb [model]="itemsBreadCrumb" [home]="home"></p-breadcrumb>
</div>
<div class="toolbar">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="New" icon="pi pi-plus" class="mr-6"></p-button>
            <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button> -->

            <!-- <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i> -->
        </div>

        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-search" class="mr-2"></p-button>
            <!-- <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button> -->
            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
    </p-toolbar>
</div>
<div class="card">
    <p-splitter [style]="{'height': '100%'}" [panelSizes]="[60,40]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="leftContainer">
                    <p-toolbar>
                        <div class="p-toolbar-group-left">
                            <p-button label="Edit" icon="pi pi-pencil" class="mr-6" (click)="editDetails()"
                                [disabled]="disableEdit"></p-button> &nbsp;
                            <p-button label="Save" icon="pi pi-save" class="mr-6" styleClass="p-button-success"
                                (click)="saveDetails()" [disabled]="!disableEdit"></p-button>
                        </div>
                    </p-toolbar>
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Details" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Type : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bookmark" style="margin-right: 5px;"></i>
                                        {{project.issueType}}</div>
                                        <div *ngIf="disableEdit" class="detailRight">
                                            <p-dropdown [options]="projectTypes" [(ngModel)]="project.issueType" placeholder="Select a Type" [showClear]="true"></p-dropdown>
                                        </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Status : </div>
                                    <div *ngIf="!disableEdit" class="detailRight">
                                        <p-button class="statusBtn" label="{{project.status}}"
                                            [styleClass]="statusBtnStyleClass"></p-button>
                                    </div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="statusTypes" [(ngModel)]="project.status" placeholder="Select a Status" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Priority : </div>
                                    <div class="detailRight"><i [class]="priorityIconClass"
                                            style="margin-right: 5px;"></i>
                                        {{project.priority}}</div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Parent Task : </div>
                                    <div class="detailRight"><i class="pi pi-external-link"
                                            style="margin-right: 10px;"></i>
                                        <a href="{{project.parentTaskLink}}">{{project.parentTaskLink}}</a>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Health : </div>
                                    <div class="detailRight"><i class="fa fa-bolt" style="margin-right: 10px;"></i>
                                        {{project.health}}</div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Region : </div>
                                    <div class="detailRight"><i class="fa fa-globe" style="margin-right: 5px;"></i>
                                        {{project.region}}</div>

                                </div>


                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Description">

                            <p-editor [(ngModel)]="project.description" [style]="{'height':'320px'}"></p-editor>
                            <p>Value: {{project.description||'empty'}}</p>
                        </p-accordionTab>
                        <p-accordionTab header="Attachments">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati
                                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                                id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                distinctio.
                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                            </p>
                        </p-accordionTab>
                        <p-accordionTab header="Subtasks">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati
                                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                                id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                distinctio.
                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                            </p>
                        </p-accordionTab>
                        <p-accordionTab header="Activity">
                            <div class="card">
                                <p-tabView>
                                    <p-tabPanel header="Comments">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation
                                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.</p>
                                    </p-tabPanel>
                                    <p-tabPanel header="History">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi
                                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                            dolores eos qui ratione
                                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam
                                            eius modi.</p>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                Panel 2
            </div>
        </ng-template>
    </p-splitter>

</div>


<div class="rightContainer">

</div>