<div class="header-img">
</div>
<div class="header-main">
    <p-image src="assets/CHI_Logo.png" alt="Image" width="50" height="50"></p-image>
    <h1 *ngIf="!disableEdit" class="header-title">{{project.projectName}}</h1>
    <div *ngIf="disableEdit" style="padding-left: 10px; display: inline-block; width: 95%;">
        <input style="width: 100%; font-size: larger; padding: 10px;" type="text" [(ngModel)]="project.projectName"
            pInputText placeholder="Project Name">
    </div>
    <!-- <p-button label="{{project.projectName}}" icon="pi pi-users" styleClass="p-button-primary titleBtn">
    </p-button> -->
</div>
<div class="toolbar">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="Edit" icon="pi pi-pencil" class="mr-6" (click)="editDetails()" [disabled]="disableEdit">
            </p-button> &nbsp;
            <p-button label="Save" icon="pi pi-save" class="mr-6" styleClass="p-button-success" (click)="saveDetails()"
                [disabled]="!disableEdit"></p-button>
        </div>
    </p-toolbar>
</div>
<div class="card">
    <p-splitter [style]="{'height': '100%'}" [panelSizes]="[60,40]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="leftContainer">
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Details" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Type : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bookmark"
                                            style="margin-right: 5px;"></i>
                                        {{project.issueType}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="projectTypes" [(ngModel)]="project.issueType"
                                            placeholder="Select a Type" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Status : </div>
                                    <div *ngIf="!disableEdit" class="detailRight">
                                        <p-button class="statusBtn" label="{{project.status}}"
                                            [styleClass]="statusBtnStyleClass"></p-button>
                                    </div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="statusTypes" [(ngModel)]="project.status"
                                            placeholder="Select a Status" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Priority : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i [class]="priorityIconClass"
                                            style="margin-right: 5px;"></i>
                                        {{project.priority}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="priorityTypes" [(ngModel)]="project.priority"
                                            placeholder="Select a priority" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Parent Task : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-external-link"
                                            style="margin-right: 10px;"></i>
                                        <a href="{{project.parentTaskLink}}"
                                            target="_blank">{{project.parentTaskLink}}</a>
                                    </div>

                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.parentTaskLink"
                                            pInputText placeholder="URL should start with http://">
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Health : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bolt"
                                            style="margin-right: 10px;"></i>
                                        {{project.health}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.health" pInputText
                                            placeholder="Task health">
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Region : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-globe"
                                            style="margin-right: 5px;"></i>
                                        {{project.region}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.region" pInputText
                                            placeholder="Enter a region">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Description">
                            <p-editor (onTextChange)="handleChangeDescription($event.textValue)"
                                [readonly]="!disableEdit" [(ngModel)]="project.description"
                                [style]="{'height':'320px'}"></p-editor>
                        </p-accordionTab>
                        <p-accordionTab header="Attachments">
                            <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="onUpload($event)"
                                multiple="multiple" accept="image/*" maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </p-accordionTab>
                        <p-accordionTab header="Subtasks">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati
                                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                                id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                distinctio.
                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                            </p>
                        </p-accordionTab>
                        <p-accordionTab header="Activity">
                            <div class="card">
                                <p-tabView>
                                    <p-tabPanel header="Comments">
                                        <p-accordion *ngFor="let comment of comments">
                                            <p-accordionTab [selected]="true"
                                                header="{{comment.firstName}} {{comment.lastName}}          {{comment.CommentDateTime}} ">
                                                <p>{{comment.Comment}}</p>
                                            </p-accordionTab>
                                        </p-accordion>
                                        <span *ngIf="enableCommentBox" class="p-float-label">
                                            <textarea maxlength="1000" autoResize="autoResize" [(ngModel)]="comment"
                                                style="margin-top: 5px; max-width: 100%; width: 100%;" id="float-input"
                                                rows="5" cols="30" pInputTextarea></textarea>
                                            <label for="float-input">Comment</label>
                                        </span>
                                        <button (click)="addComment()" pButton pRipple type="button" label="Comment"
                                            class="p-button-raised p-button-secondary p-button-text"></button>
                                        <button *ngIf="enableCommentBox" (click)="saveComment()" pButton pRipple
                                            type="button" label="Save" class="p-button-raised p-button-success"
                                            [style]="{'float':'right', 'margin-right': '10px'}"></button>
                                        <button *ngIf="enableCommentBox" (click)="addComment()" pButton pRipple
                                            type="button" label="Cancel" class="p-button-raised p-button-danger"
                                            [style]="{'float':'right', 'margin-right': '10px'}"></button>
                                    </p-tabPanel>
                                    <p-tabPanel header="History">
                                        <p-table [value]="historyArr" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Field</th>
                                                    <th>Old Value</th>
                                                    <th>New Value</th>
                                                    <th>Username</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record>
                                                <tr>
                                                    <td>{{record.fieldName}}</td>
                                                    <td>{{record.oldValue}}</td>
                                                    <td>{{record.newValue}}</td>
                                                    <td>{{record.FirstName + ' ' + record.LastName}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="leftContainer">
                    <p-toolbar>
                    </p-toolbar>
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="People" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Assignee : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-user"
                                            style="margin-right: 5px;"></i>
                                        {{project.assignee}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="allUsers" [(ngModel)]="project.assignee"
                                            placeholder="Select an Assignee" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Reporter : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-user"
                                            style="margin-right: 10px;"></i>{{project.reporter}}
                                    </div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="allUsers" [(ngModel)]="project.reporter"
                                            placeholder="Select a Reporter" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Dates" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Start Date : </div>
                                    <div class="detailRight">
                                        <input *ngIf="!disableEdit" type="date" [(ngModel)]="project.startDate"
                                            disabled>
                                        <input *ngIf="disableEdit" type="date" [(ngModel)]="project.startDate">
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Go Live : </div>
                                    <div class="detailRight">
                                        <input *ngIf="!disableEdit" type="date" [(ngModel)]="project.goLive" disabled>
                                        <input *ngIf="disableEdit" type="date" [(ngModel)]="project.goLive">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Time Tracking" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Estimated Hours : </div>
                                    <div class="detailRight">
                                        <p-inputNumber [disabled]="!disableEdit" [allowEmpty]="false"
                                            [(ngModel)]="project.estimatedHours" [showButtons]="true"
                                            buttonLayout="horizontal" spinnerMode="horizontal" inputId="vertical"
                                            decrementButtonClass="p-button-secondary"
                                            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                                            decrementButtonIcon="pi pi-minus">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Progress : </div>
                                    <div class="detailRight">
                                        <div *ngIf="!disableEdit" class="detailRight">
                                            <p-progressBar [value]="project.progress"></p-progressBar>
                                        </div>
                                        <div *ngIf="disableEdit" class="detailRight">
                                            <input type="text" pInputText [(ngModel)]="project.progress" readonly />
                                            <p-slider (onChange)="handleChangeProgress($event)"
                                                [(ngModel)]="project.progress"></p-slider>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .p-progressbar .p-progressbar-value -->
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </ng-template>
    </p-splitter>

</div>


<div class="rightContainer">

</div>