<p-toast></p-toast>

<div class="header-img">
</div>
<div class="header-main">
    <p-image src="assets/CHI_Logo.png" alt="Image" width="50" height="50"></p-image>
    <span>
        <h1 *ngIf="!disableEdit" class="header-title">{{project.projectName}}</h1>
        <p-button label="Go Back" icon="pi pi-chevron-left" class="btn-float-right" (click)="back()"
            [disabled]="disableEdit">
        </p-button> &nbsp;
    </span>
    <div *ngIf="disableEdit" style="padding-left: 10px; display: inline-block; width: 95%;">
        <input style="width: 100%; font-size: larger; padding: 10px;" type="text" [(ngModel)]="project.projectName"
            pInputText placeholder="Project Name"> &nbsp;

    </div>
    <!-- <p-button label="{{project.projectName}}" icon="pi pi-users" styleClass="p-button-primary titleBtn">
    </p-button> -->
</div>
<div class="toolbar">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="Edit" icon="pi pi-pencil" class="mr-6" (click)="editDetails()" [disabled]="disableEdit">
            </p-button> &nbsp;
            <p-button *ngIf="disableEdit" label="Cancel" icon="pi pi-times" class="mr-6" styleClass="p-button-danger"
                (click)="cancelHandler()" [disabled]="!disableEdit"></p-button> &nbsp;
            <p-button label="Save" icon="pi pi-save" class="mr-6" styleClass="p-button-success" (click)="saveDetails()"
                [disabled]="!disableEdit"></p-button>
        </div>
    </p-toolbar>
</div>
<div class="card">
    <p-splitter [style]="{'height': '100%'}" [panelSizes]="[60,40]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="leftContainer">
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Details" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Type : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bookmark"
                                            style="margin-right: 5px;"></i>
                                        {{project.issueType}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="projectTypes" [(ngModel)]="project.issueType"
                                            placeholder="Select a Type" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Hours In PRM : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bookmark"
                                            style="margin-right: 5px;"></i>
                                        {{project.hoursInPRM}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="hoursInPRMs" [(ngModel)]="project.hoursInPRM"
                                            placeholder="Select a value" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Status : </div>
                                    <div *ngIf="!disableEdit" class="detailRight">
                                        <p-button class="statusBtn" label="{{project.status}}"
                                            [styleClass]="statusBtnStyleClass"></p-button>
                                    </div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="statusTypes"
                                            [(ngModel)]="project.status" placeholder="Select a Status"
                                            [showClear]="true"></p-dropdown>
                                            <!-- (onChange)="statusChangeHandler($event)"  -->
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Market Priority : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i [class]="priorityIconClass"
                                            style="margin-right: 5px;"></i>
                                        {{project.priority}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="priorityTypes" [(ngModel)]="project.priority"
                                            placeholder="Select a priority" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <!-- <div class="detailRow">
                                    <div class="detailLeft">Market Priority : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i [class]="priorityIconClass"
                                            style="margin-right: 5px;"></i>
                                        {{project.marketPriority}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.marketPriority"
                                            pInputText placeholder="Market Priority">
                                    </div>

                                </div> -->
                                <div *ngIf="project.issueType === 'Subtask'" class="detailRow">
                                    <div class="detailLeft">Parent Task : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-external-link"
                                            style="margin-right: 10px;"></i>
                                        <a [routerLink]="['/project-details', project.parentTaskId]"
                                            routerLinkActive="['active']">{{project.parentTaskLink}}</a>
                                    </div>

                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.parentTaskLink"
                                            pInputText placeholder="URL should start with http://">
                                    </div>

                                </div>
                                <!-- <div class="detailRow">
                                    <div class="detailLeft">Health : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-bolt"
                                            style="margin-right: 10px;"></i>
                                        {{project.health}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.health" pInputText
                                            placeholder="Task health">
                                    </div>

                                </div> -->
                                <div class="detailRow">
                                    <div class="detailLeft">Region : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-globe"
                                            style="margin-right: 5px;"></i>
                                        {{project.region}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <input style="width: 50%" type="text" [(ngModel)]="project.region" pInputText
                                            placeholder="Enter a region">
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Checklist : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-check"
                                            style="margin-right: 5px;"></i>
                                        {{checklistTemplate}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-multiSelect optionDisabled="inactive" [options]="checklist"
                                            [(ngModel)]="selectedChecklist" optionLabel="name"></p-multiSelect>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Description">
                            <p-editor (onTextChange)="handleChangeDescription($event.textValue)"
                                [readonly]="!disableEdit" [(ngModel)]="project.description"
                                [style]="{'height':'320px'}"></p-editor>
                        </p-accordionTab>
                        <p-accordionTab header="Attachments">
                            <div class="detailRow">
                                <div class="detailLeft">Link to Attachments : </div>
                                <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-external-link"
                                        style="margin-right: 10px;"></i>
                                    <a href="{{project.attachments}}" target="_blank">{{project.attachments}}</a>
                                </div>

                                <div *ngIf="disableEdit" class="detailRight">
                                    <input style="width: 50%" type="text" [(ngModel)]="project.attachments" pInputText
                                        placeholder="URL should start with http://">
                                </div>

                            </div>
                            <!-- <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="onUpload($event)"
                                multiple="multiple" accept="image/*" maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload> -->
                            <!-- <p-card  *ngFor="let file of filesArr" header="Advanced Card" subheader="Card Subheader">
                                <ng-template pTemplate="header">
                                    <img *ngIf="file.Url" [src]="file.Url"/>                 
                                </ng-template>
                            </p-card> -->
                            <!-- <div class="uploadedFile" *ngFor="let file of filesArr">
                                <p-card>
                                    <p-image [src]="sanitizer.bypassSecurityTrustUrl(file.Url)" alt="Image" height="150"
                                        width="150" [preview]="true"></p-image>
                                    <span style="margin-left: 10px;">{{file.FileName}}</span>
                                    <span style="margin-left: 10px;"><b>{{file.FirstName}} , {{ file.LastName
                                            }}</b></span>
                                    <span style="margin-left: 10px;"><b>{{file.UploadDateTime}}</b></span>
                                </p-card>
                            </div> -->
                            <!-- <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="500" width="500"/>                 
                            </div> -->
                        </p-accordionTab>
                        <p-accordionTab *ngIf="project.issueType == 'Story'" header="Subtasks">
                            <p-toolbar styleClass="mb-4">
                                <ng-template pTemplate="left">
                                    <button pButton pRipple label="Add Subtask" icon="pi pi-plus"
                                        class="p-button-success mr-2" (click)="openNew()"></button>
                                </ng-template>
                            </p-toolbar>
                            <p-table #dt [value]="subtasks" [rows]="10"
                                [globalFilterFields]="['projectName','country.name','representative.name','status']"
                                responsiveLayout="scroll" [rowHover]="true" dataKey="IDX">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Name
                                        </th>
                                        <th>Market Priority
                                        </th>
                                        <th>Status
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record>
                                    <tr>
                                        <td>{{record.projectName}}</td>
                                        <td>{{record.priority}}</td>
                                        <td><span
                                                [class]="'product-badge status-' + (record.status ? record.status.toLowerCase() : '')">{{record.status}}</span>
                                        </td>
                                        <td>
                                            <button pTooltip="Go to the details of this record" tooltipPosition="left"
                                                pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-info"
                                                (click)="getSubtaskDetails(record.IDX)"></button>
                                            <button pTooltip="Delete this record" tooltipPosition="bottom" pButton
                                                pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                                (click)="deleteRecord(record)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate=" summary">
                                    <div class="flex align-items-center justify-content-between">
                                        In total there are {{subtasks ? subtasks.length : 0 }} records.
                                    </div>
                                </ng-template>
                            </p-table>
                        </p-accordionTab>
                        <p-accordionTab header="Activity">
                            <div class="card">
                                <p-tabView>
                                    <p-tabPanel header="Comments">
                                        <p-accordion *ngFor="let comment of comments">
                                            <p-accordionTab [selected]="true"
                                                header="{{comment.firstName}} {{comment.lastName}}          {{comment.CommentDateTime}} ">
                                                <p>{{comment.Comment}}</p>
                                            </p-accordionTab>
                                        </p-accordion>
                                        <span *ngIf="enableCommentBox" class="p-float-label">
                                            <textarea maxlength="1000" autoResize="autoResize" [(ngModel)]="comment"
                                                style="margin-top: 5px; max-width: 100%; width: 100%;" id="float-input"
                                                rows="5" cols="30" pInputTextarea></textarea>
                                            <label for="float-input">Comment</label>
                                        </span>
                                        <button (click)="addComment()" pButton pRipple type="button" label="Comment"
                                            class="p-button-raised p-button-secondary p-button-text"></button>
                                        <button *ngIf="enableCommentBox" (click)="saveComment()" pButton pRipple
                                            type="button" label="Save" class="p-button-raised p-button-success"
                                            [style]="{'float':'right', 'margin-right': '10px'}"></button>
                                        <button *ngIf="enableCommentBox" (click)="addComment()" pButton pRipple
                                            type="button" label="Cancel" class="p-button-raised p-button-danger"
                                            [style]="{'float':'right', 'margin-right': '10px'}"></button>
                                    </p-tabPanel>
                                    <p-tabPanel header="History">
                                        <p-table [value]="historyArr" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Field</th>
                                                    <th>Old Value</th>
                                                    <th>New Value</th>
                                                    <th>Username</th>
                                                    <th>Updated Date & Time</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-record>
                                                <tr>
                                                    <td>{{record.fieldName}}</td>
                                                    <td style="word-break: break-word">{{record.oldValue}}</td>
                                                    <td style="word-break: break-word">{{record.newValue}}</td>
                                                    <td style="word-break: break-word">{{record.FirstName + ' ' + record.LastName}}</td>
                                                    <td style="word-break: break-word">{{record.updatedDateTime}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="leftContainer">
                    <p-toolbar>
                    </p-toolbar>
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="People" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Assignee : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="fa fa-user"
                                            style="margin-right: 5px;"></i>
                                        {{project.assignee}}</div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <p-dropdown [options]="allUsers" [(ngModel)]="project.assignee"
                                            placeholder="Select an Assignee" [showClear]="true"></p-dropdown>
                                    </div>

                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Project Manager : </div>
                                    <div *ngIf="!disableEdit" class="detailRight"><i class="pi pi-user"
                                            style="margin-right: 10px;"></i>{{project.projectManager}}
                                    </div>
                                    <div *ngIf="disableEdit" class="detailRight">
                                        <!-- <p-dropdown [options]="allUsers" [(ngModel)]="project.projectManager"
                                            placeholder="Select a Project Manager" [showClear]="true"></p-dropdown> -->
                                        <input style="width: 50%" type="text" [(ngModel)]="project.projectManager"
                                            pInputText placeholder="Enter Project Manager Name">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Dates" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Start Date : </div>
                                    <div class="detailRight">
                                        <input *ngIf="!disableEdit" type="date" [(ngModel)]="project.startDate"
                                            disabled>
                                        <input *ngIf="disableEdit" type="date" [(ngModel)]="project.startDate">
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Go Live : </div>
                                    <div class="detailRight">
                                        <input *ngIf="!disableEdit" type="date" [(ngModel)]="project.goLive" disabled>
                                        <input *ngIf="disableEdit" type="date" [(ngModel)]="project.goLive">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Time Tracking" [selected]="true">
                            <div class="detailItems">
                                <div class="detailRow">
                                    <div class="detailLeft">Estimated Hours : </div>
                                    <div class="detailRight">
                                        <p-inputNumber [disabled]="!disableEdit" [allowEmpty]="false"
                                            [(ngModel)]="project.estimatedHours" [showButtons]="true"
                                            buttonLayout="horizontal" spinnerMode="horizontal" inputId="vertical"
                                            decrementButtonClass="p-button-secondary"
                                            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                                            decrementButtonIcon="pi pi-minus">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="detailRow">
                                    <div class="detailLeft">Progress : </div>
                                    <div class="detailRight">
                                        <div class="detailRight">
                                            <p-progressBar [value]="project.progress"></p-progressBar>
                                        </div>
                                        <!-- <div *ngIf="disableEdit" class="detailRight">
                                            <input type="text" pInputText [(ngModel)]="project.progress" readonly />
                                            <p-slider (onChange)="handleChangeProgress($event)"
                                                [(ngModel)]="project.progress"></p-slider>

                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </ng-template>
    </p-splitter>

</div>


<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Create a subtask" [modal]="true"
    styleClass="p-fluid" [breakpoints]="{'960px': '75vw'}">
    <ng-template pTemplate="content">
        <form class="form-horizontal" [formGroup]="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="parentTaskId" class="control-label">Parent Task ID</label>
                    <input type="number" id="parentTaskId" class="form-control" formControlName="parentTaskId" required
                        disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="PRM" class="control-label">PRM</label>
                    <input type="number" id="PRM" class="form-control" formControlName="PRM" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="projectName" class="control-label">Project Name</label>
                    <input autocomplete="off" type="text" id="projectName" class="form-control"
                        formControlName="projectName" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="hoursInPRM" class="control-label">Hours in PRM</label>
                    <select class="form-control" formControlName="hoursInPRM">
                        <option [ngValue]="null" disabled>Select Hours in PRM</option>
                        <option *ngFor="let hoursInPRM of hoursInPRMs" [ngValue]="hoursInPRM">{{hoursInPRM}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="issueType" class="control-label">Issue Type</label>
                    <select class="form-control" formControlName="issueType">
                        <option [ngValue]="issueType" selected disabled>Select Issue Type</option>
                        <option *ngFor="let issueType of projectTypes" [ngValue]="issueType"
                            disabled="issueType !== Subtask">{{issueType}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="priority" class="control-label">Market Priority</label>
                    <select class="form-control" formControlName="priority">
                        <option [ngValue]="null" disabled>Select Market Priority</option>
                        <option *ngFor="let priority of priorityTypes" [ngValue]="priority">{{priority}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="col-sm-12">
                    <label for="marketPriority" class="control-label">Market Priority</label>
                    <input autocomplete="off" type="text" id="marketPriority" class="form-control"
                        formControlName="marketPriority" required>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="region" class="control-label">Region</label>
                    <input autocomplete="off" type="text" id="region" class="form-control" formControlName="region"
                        required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="projectManager" class="control-label">Project Manager</label>
                    <input autocomplete="off" type="text" id="projectManager" class="form-control"
                        formControlName="projectManager" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="status" class="control-label">Status</label>
                    <select class="form-control"
                        formControlName="status" (change)="statusChangeHandler($event.target, true)" > 
                        <!-- (change)="statusChangeHandler($event.target, true)"  -->
                        <option [ngValue]="null" disabled>Select Status</option>
                        <option *ngFor="let status of statusTypes" [ngValue]="status">{{status}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="estimatedHours" class="control-label">Estimated Hours</label>
                    <input autocomplete="off" type="number" id="estimatedHours" class="form-control"
                        formControlName="estimatedHours" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="startDate" class="control-label">Assigned Date</label>
                    <input autocomplete="off" type="date" id="startDate" class="form-control"
                        formControlName="startDate" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="goLive" class="control-label">Go Live Date</label>
                    <input autocomplete="off" type="date" id="goLive" class="form-control" formControlName="goLive"
                        required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="progress" class="control-label">Progress %</label>
                    <input autocomplete="off" type="number" id="progress" class="form-control" max="100" min="0"
                        formControlName="progress" required disabled>
                </div>
            </div>

        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="closeDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" [disabled]="!form.valid" class="p-button-text"
            (click)="createProject()"></button>
    </ng-template>
</p-dialog>


<div class="rightContainer">

</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<router-outlet></router-outlet>